<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../Autocoders/schema/ISF/component_schema.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<component name="$Component.getName()" kind="$Component.getStereotype()" namespace="$Component.getNamespace()" modeler="true">

#foreach($portType in $Component.getPortDataList())
#if($portType != "Serial")
    <import_port_type>${portType}PortAi.xml</import_port_type>
#end
#end
#set($dictItem = $Component.getIncludeCmdXML())
#if($dictItem != "")
    <import_dictionary>$dictItem</import_dictionary>
#end
#set($dictItem = $Component.getIncludeTlmXML())
#if($dictItem != "")
    <import_dictionary>$dictItem</import_dictionary>
#end
#set($dictItem = $Component.getIncludeEvrXML())
#if($dictItem != "")
    <import_dictionary>$dictItem</import_dictionary>
#end
#set($dictItem = $Component.getIncludeParamXML())
#if($dictItem != "")
    <import_dictionary>$dictItem</import_dictionary>
#end
#set($dictItem = $Component.getIncludeInternalIFXML())
#if($dictItem != "")
    <import_dictionary>$dictItem</import_dictionary>
#end
#set($dictItem = $Component.getIncludeHdrFile())
#if($dictItem != "")
    <include_header>$dictItem</include_header>
#end
    <ports>
    
#set($portHashList = $Component.getPortHashList())
#foreach($baseName in $portHashList.keySet())
#*---*##set($index = $portHashList.get($baseName).getIndex())
#*---*##set($datatype = $portHashList.get($baseName).getDatatypeNamespace())
#*---*##set($stereotype = $portHashList.get($baseName).getStereotype())
#*---*##set($role = $portHashList.get($baseName).getRole())
#*---*##set($priority = $portHashList.get($baseName).getPriority())
#*---*##set($full = $portHashList.get($baseName).getFull())

        <port name="$baseName" data_type="$datatype"  kind="$stereotype"#if($role != "") role="$role"#end #if($priority != "") priority="$priority"#end #if($full != "") full="$full"#end  max_number="$index">
        </port>
#end
    </ports>

</component>