<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="gov.nasa.jpl.magicdraw.componentAutocoder"
	name="MagicDraw Component Plugin"
	version="4.6"
	ownClassloader="true"
	provider-name="NASA Jet Propulsion Laboratory, California Institute of Technology"
	class="gov.nasa.jpl.componentaction.IsfXmlAutocoderAction">

	<requires>
	   <api version="1.0"/>
	</requires>
	<!--  In MagicDraw 18.5+ these libraries need to be specified. -->
	<runtime>
	   <library name="FpCompAuto.jar"/>
	   <library name="lib/commons-cli-1.3.1.jar"/>
	   <library name="lib/velocity-1.6.2-dep.jar"/>
	</runtime>
</plugin>
