<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../Autocoders/schema/ISF/interface_schema.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<interface name="$Port.getName()" namespace="$Port.getNamespace()">
#foreach( $include in $Port.getIncludeList() )
    <include_header>$include</include_header>
#end
    <comment>
    Port Type interface arguments.
    </comment>
    <args>
#foreach ( $data in $Port.getDataList() )
#*----*##if ($Port.isEnumeration($data))
        <arg name="$Port.getDataName($data).get(0)" type="ENUM" pass_by="$Port.getDataName($data).get(1)">
           <enum name="$Port.getDataType($data)">
#*-------*##foreach ($enumItem in $Port.getEnumItems($data))
              <item name="$enumItem.getName()"/>
#*-------*##end
           </enum>
        </arg>
#*----*##else
        <arg name="$Port.getDataName($data).get(0)" type="$Port.getDataType($data)" pass_by="$Port.getDataName($data).get(1)">
        </arg>
#*----*##end
#end
    </args>
#if ($Port.hasReturn())
#*--*##if ($Port.isReturnEnumeration($Port.getReturn()))
       <return  type="ENUM" pass_by="$Port.getDataName($Port.getReturn()).get(1)">
          <enum name="$Port.getDataName($Port.getReturn()).get(0)">
#*-------*##foreach ($enumItem in $Port.getReturnEnumItems($Port.getReturn()))
              <item name="$enumItem.getName()"/>
#*--------*##end
          </enum>
       </return>
#*--*##else
    <return  type="$Port.getReturnType($Port.getReturn())"  pass_by="$Port.getDataName($Port.getReturn()).get(1)"/>
#*--*##end
#end	
</interface>