<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../Autocoders/schema/ISF/topology_schema.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
#set($topologyBaseID = $topology.getBaseID())
#set($topologyWindow = $topology.getInstanceWindow())
<assembly name = "$topology.getName()"##
#if($topologyBaseID != "")
 base_id="$topologyBaseID"##
#end
#if($topologyWindow != "")
 base_id_range="$topologyWindow"##
#end
>
#set($compMap  = $topology.getComponentMap())
#foreach($instance in $compMap.keySet())
	<import_component_type>$topology.getComponentMap().get($instance).getXMLLocation()${topology.getComponentMap().get($instance).getType()}ComponentAi.xml</import_component_type>
#end

#foreach($instance in $compMap.keySet())
#*---*##set($componentType = $topology.getComponentMap().get($instance).getType())
#set($instanceBaseID = $topology.getComponentMap().get($instance).getBaseID())
#set($instanceWindow = $topology.getComponentMap().get($instance).getInstanceWindow())
   <instance namespace="$topology.getComponentMap().get($instance).getNameSpace()" name="$topology.getComponentMap().get($instance).getName()" type="$componentType"##
#if($instanceBaseID != "")
 base_id="$instanceBaseID" ##
#end
#if($instanceWindow != "")
 base_id_window="$instanceWindow" ##
#end
/>

#end

#set($cn = 1)
#set($connList = $topology.getPhysicalConnectionList())
#foreach($connection in $connList)
#set ($sourceComp = $connection.getSource())
#set ($targetComp = $connection.getTarget())
#set ($sourcePort = $connection.getSourcePortName())
#set ($targetPort = $connection.getTargetPortName())
#set ($sourcePortType = $connection.getSourcePortType())
#set ($targetPortType = $connection.getTargetPortType())
#set ($sourcePortIndex = $connection.getSourcePortIndex())
#set ($targetPortIndex = $connection.getTargetPortIndex())
<connection name = "Connection$cn">
	 <source component = "$sourceComp" port = "$sourcePort" type = "$sourcePortType" num = "$sourcePortIndex"/>
 	 <target component = "$targetComp" port = "$targetPort" type = "$targetPortType" num = "$targetPortIndex"/>
</connection>
#set($cn = $cn + 1)
#end
</assembly>
