##
## This template will contain the includes and starting static code
##
\#include <Fw/Obj/SimpleObjRegistry.hpp>
\#include <string.h>

#for $xml_name in $component_import_list:
\#include <${xml_name}>
#end for

\#include <unistd.h>

using namespace std;

#if $is_ptr:
// Registry
extern Fw::SimpleObjRegistry* simpleReg_ptr = 0;
#else:
extern Fw::SimpleObjRegistry simpleReg;
#end if

// Component declarations
#for $declaration_template in $component_declarations:
extern ${declaration_template}
#end for



extern "C" {
    void dumparch(void);
    void dumpobj(const char* objName);
}


void dumparch(void);

void dumpobj(const char* objName);
