##
## This template will produce the constructArchitecture() global function that instances components and connects them.
##

void setRef_Ids();

void $(name)Init();

void $(name)Start();

void $(name)Register();

void construct$(name)Architecture();

void exitTasks() ;
