##
## This template will produce the constructArchitecture() global function that instances components and connects them.
##

void setRef_Ids(void);

void $(name)Init(void);

void $(name)Start(void);

void $(name)Register(void);

void construct$(name)Architecture(void);

void exitTasks(void) ;
