// ----------------------------------------------------------------------
// TestMain.cpp
// ----------------------------------------------------------------------

\#include "Tester.hpp"

#for $test_name, $method_name in $test_cases
TEST(Nominal, ${test_name}) {
    #if $namespace_list != None
    #echo "::".join($namespace_list)#::Tester tester;
    #else
    Tester tester;
    #end if
    tester.${method_name}();
}
#end for

int main(int argc, char **argv) {
    ::testing::InitGoogleTest(&argc, argv);
    return RUN_ALL_TESTS();
}
