# Each file represents the information for a single command
# These module variables are used to instance the command object within the Gse

#for $ser_import in $ser_import_list
import $ser_import
#end for

COMPONENT = "${component}"

MNEMONIC = "${mnemonic}"

OP_CODE  = ${opcode}

CMD_DESCRIPTION = "${description}"

# Set arguments list with default values here.
ARGUMENTS = [
#for $argname,$arg_description,$type in $arglist:
    ("${argname}","${arg_description}",${type}),
#end for
    ]

if __name__ == '__main__':
    testcmd = command.Command(COMPONENT, MNEMONIC, OP_CODE, CMD_DESCRIPTION, ARGUMENTS)
    data = testcmd.serialize()
    type_base.showBytes(data)
