Checks: >
    bugprone-unhandled-self-assignment,
    modernize-deprecated-headers,
    modernize-redundant-void-arg,
    modernize-use-bool-literals,
    modernize-use-nullptr,
    -clang-analyzer-security.insecureAPI.rand
WarningsAsErrors: '*'
