Checks: >
    bugprone-unhandled-self-assignment,
    misc-no-recursion,
    modernize-deprecated-headers,
    modernize-redundant-void-arg,
    modernize-use-bool-literals,
    modernize-use-nullptr,
    readability-braces-around-statements
    -clang-analyzer-security.insecureAPI.rand,
WarningsAsErrors: '*'
