# Clang-tidy configuration used on the whole code base, including tests and flight code

Checks: >
    bugprone-unhandled-self-assignment,
    modernize-deprecated-headers,
    modernize-redundant-void-arg,
    modernize-use-bool-literals,
    modernize-use-nullptr,
    readability-braces-around-statements
    -clang-analyzer-security.insecureAPI.rand,
WarningsAsErrors: '*'
