\#include <${include_path}/${namespace}${name}SerializableAc.hpp>
\#include <Fw/Types/Assert.hpp>
\#include <Fw/Types/BasicTypes.hpp>
\#if FW_SERIALIZABLE_TO_STRING
\#include <Fw/Types/EightyCharString.hpp>
\#endif
\#include <cstring>
