<?xml version="1.0" encoding="UTF-8"?>

<!--====================================================================== 

  Svc 
  ComLogger
  Events

======================================================================-->

<events event_base="0x00">

  <event id="0x00" name="FileOpenError" severity="WARNING_HI" format_string="Error %d opening file %s">
    <comment>The ComLogger encountered an error opening a file</comment>
    <args>
      <arg name="errornum" type="U32">
        <comment>The error number returned from open file</comment>
      </arg>
      <arg name="file" type="string" size="240">
        <comment>The file</comment>
      </arg>
    </args>
  </event>

  <event id="0x01" name="FileWriteError" severity="WARNING_HI" format_string="Error %d while writing %d of %d bytes to %s">
    <comment>The ComLogger encountered an error writing to a file</comment>
    <args>
      <arg name="errornum" type="U32" size="240">
        <comment>The error number returned from write file</comment>
      </arg>
      <arg name="bytesWritten" type="U32" size="240">
        <comment>The number of bytes successfully written to file</comment>
      </arg>
      <arg name="bytesToWrite" type="U32" size="240">
        <comment>The number of bytes attempted to write to file</comment>
      </arg>
      <arg name="file" type="string" size="240">
        <comment>The file</comment>
      </arg>
    </args>
  </event>

  <event id="0x02" name="FileValidationError" severity="WARNING_LO" format_string="The ComLogger failed to create a validation file %s for %s with error %d.">
    <comment>The ComLogger encountered an error writing the validation file</comment>
    <args>
      <arg name="validationFile" type="string" size="240">
        <comment>The validation file</comment>
      </arg>
      <arg name="file" type="string" size="240">
        <comment>The file</comment>
      </arg>
      <arg name="status" type="U32" size="240">
        <comment>The Os::Validate::Status return</comment>
      </arg>
    </args>
  </event>

  <event id="0x03" name="FileClosed" severity="DIAGNOSTIC" format_string="File %s closed successfully.">
    <comment>The ComLogger successfully closed a file on command.</comment>
    <args>
      <arg name="file" type="string" size="240">
        <comment>The file</comment>
      </arg>
    </args>
  </event>

</events>
