<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="file:../xml/ISF_Component_Schema.rnc" type="compact"?>

<!--====================================================================== 

  BufferAccumulator
  Events

======================================================================-->

<events>

  <event id="0x00" name="BA_BufferAccepted" severity="ACTIVITY_HI" format_string="Buffer accepted">
    <comment>The Buffer Accumulator instance accepted and enqueued a buffer. To avoid uncontrolled sending of events, this event occurs only when the previous buffer received caused a QueueFull error.</comment>
  </event>

  <event id="0x01" name="BA_QueueFull" severity="WARNING_HI" format_string="Queue full">
    <comment>The Buffer Accumulator instance received a buffer when its queue was full. To avoid uncontrolled sending of events, this event occurs only when the previous buffer received did not cause a QueueFull error.</comment>
  </event>

</events>
