##
## This template will contain the includes and starting static code
##

#if $connect_only:
\#include <$path/Components.hpp>
#else
\#include <$(name)TopologyAppAc.hpp>
\#include <Fw/Obj/SimpleObjRegistry.hpp>
\#include <string.h>

//#for $p, $ns, $t in $component_header_list:
//\#include <${p}/${ns}${t}Impl.hpp>
//#end for

//\#include <unistd.h>

using namespace std;

//#if $is_ptr:
//// Registry
//static Fw::SimpleObjRegistry* simpleReg_ptr = 0;
//#else:
//static Fw::SimpleObjRegistry simpleReg;
//#end if

// Component declarations
//#for $declaration_template in $component_declarations:
//${declaration_template}
//#end for

extern "C" {
    void dumparch(void);
    void dumpobj(const char* objName);
}


void dumparch(void) {
#if $is_ptr:
    simpleReg_ptr->dump();
#else:
    simpleReg.dump();
#end if
}


void dumpobj(const char* objName) {
#if $is_ptr:
    simpleReg_ptr->dump(objName);
#else:
    simpleReg.dump(objName);
#end if
}

#end if
