<!--
index.html:

This HTML document sets up the most basic of UIs for the F prime webified GUI layer. This GUI layer is built with the
Bootstrap CSS, but without the paired JavaScript packages as they conflict with the Vue.js display layer being used.


This GUI provides the following items:

1. Events panel showing events in the system
2. Channels panel showing latest channel readings
3. Commands panel allowing for commanding of the system
4. uplink and downlink panels for uploading and downloading files from the spacecraft
5. Logs file to display in the GDS layer

Note: Bootstrap is used, as it can be run as a CSS framework without many node and JavaScript packages.
Note: Vue.js annotations are used, as Vue is the data-to-view framework of choice.  It can be run with a single JS
      dependency, without need for WebPack or other module loaders.
-->
<!doctype html>
<html>
    <head>
        <!--link rel="stylesheet" href="third-party/css/bootstrap.min.css"-->
        <link rel="stylesheet" href="third-party/css/vue-select.css">
        <link rel="stylesheet" href="css/fpstyle.css">
        <link rel="stylesheet" href="css/fprime.css">
        <!-- Development mode -Vue- should it be needed for debug purposes -->
        <!--script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script-->

        <!-- Third-party JavaScript files, hosted locally to remove internet dependence -->
        <script src="third-party/js/vue.min.js"></script>
        <script src="third-party/js/sorttable.js"></script>
        <!-- JavaScript GDS files -->
        <script type="module" src="js/gds.js"></script>
    </head>
    <body>
        <!--
        GDS:

        The primary vue of the GDS is a tabbed view that is composed of separate components for each view. This is
        where Vue JS is allowed to display its items.
        -->
        <div id="tabetc" class="fp-flex-repeater fp-full-height">
            <tabbed-etc></tabbed-etc>
        </div>
        <!--
        Templates:

        The rest of this document is a hidden list of templates representing each of the components used in this web
        layer.
        -->
        <div hidden>
            <!--
            TabETC Component:

            The tabbed component has to primary sections:

            1. Navigation, allowing for the changing of tabs in the system
            2. Tab components only one visible at a time.
            -->
            <template id="tabetc-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                            <span class="navbar-brand">
                                <img v-bind:src="config.logo" width="50" height="50"
                                     v-bind:alt="config.projectName"
                                     v-bind:title="config.projectName">
                            </span>
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li v-for="tab in tabs"
                                     :class="['nav-item', 'nav-link', { active: currentTab == tab }]"
                                     :key="tab"
                                     v-on:click="route(tab)">{{ tab }}</li>
                                <form class="form-inline my-2 my-lg-0">
                                    <div class="btn btn-primary" v-on:click="spawn">New Window</div>
                                </form>
                            </ul>
                            <span class="navbar-brand">
                                    <img v-bind:src="orb ? config.dataSuccessIcon : config.dataErrorIcon"
                                         width="30" height="30">
                                </span>
                        </nav>
                    </div>
                    <div class="container-fluid fp-flex-repeater">
                        <!-- NOTE: *must* use v-show, as v-if will perish the component losing state -->
                        <command-input v-show="currentTab == 'Commanding'"></command-input>
                        <command-history v-show="currentTab == 'Commanding'"></command-history>
                        <channel-table v-show="currentTab == 'Channels'"></channel-table>
                        <event-list    v-show="currentTab == 'Events'"></event-list>
                        <uplink        v-show="currentTab == 'Uplink'"></uplink>
                        <downlink      v-show="currentTab == 'Downlink'"></downlink>
                        <logging       v-show="currentTab == 'Logs'"></logging>
                        <dashboard     v-show="currentTab == 'Dashboard'"></dashboard>
                    </div>
                </div>
            </template>
            <!--
            Dashboard:

            The dashboard template displays a user-configurable collection of other utilities from the GUI; by default, asks the user to upload a configuration file specifying the dashboard setup.
            -->
            <template id="dashboard-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <div>
                            <label for="config-file">Choose a Layout Configuration File:</label>
                            <input type="file"
                                   name="config-file"
                                   accept="application/xml"
                                   v-on:change="configureDashboardFromFile($event.target.files[0])">
                        </div>
                    </div>
                    <v-runtime-template v-bind:template="userTemplate">
                        <!-- User-specified components go here -->
                    </v-runtime-template>
                </div>
            </template>
            <!--
            Logs:

            Logs template used to display log information from the system. Contains a selectable list of logs and a
            panel that displays the raw text, with light highlighting.
            -->
            <template id="logs-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <label for="logselect">Available Logs:</label>
                        <v-select id="logselect"
                                  :clearable="false" :searchable="true"
                                  :filterable="true"  :options="options"
                                  v-model="selected">
                        </v-select>
                    </div>
                    <div class="fp-scroll-container">
                        <div class="fp-scrollable fp-color-logging">
                            <pre><code>{{logs[selected]}}</code></pre>
                        </div>
                    </div>
                </div>
            </template>
            <!--
            Command History:

            Displays a list of previously-sent commands.
            -->
            <template id="command-history-template">
                <div class="fp-flex-repeater">
                    <fp-table :header-columns="['Command Time', 'Command Id', 'Command Mnemonic', 'Command Args']"
                              :items="cmdhist"
                              :item-to-columns="columnify"
                              :item-to-unique="keyify"
                              :item-hide="isItemHidden"
                              :initial-fields="fields"
                              :filter-text="filterText"
                              :initial-views="itemsShown"
                              :compact="compact"
                    ></fp-table>
                </div>
            </template>
            <!--
            Command Input:

            Displays a list of selectable commands. It also displays the list of arguments available to be sent with the
            selected command as it is passed to the ground.
            -->
            <template id="command-input-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <h2>Sending Command: {{ selected.full_name }}</h2>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="mnemonic">Mnemonic</label>
                                <v-select id="mnemonic" style="flex: 1 1 auto;"
                                          :clearable="false" :searchable="true"
                                          :filterable="true"  label="full_name" :options="commandList" v-model="selected">
                                </v-select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col" v-for="argument in selected.args">
                                <command-argument :argument="argument"></command-argument>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <button type="button" class="col-2 btn btn-outline-secondary" v-on:click="clearArguments">Clear Arguments</button>
                            <button type="button" :disabled="active" class="col-2 btn btn-primary" v-on:click="sendCommand">
                                Send Command
                            </button>
                        </div>
                    </div>
                </div>
            </template>
            <!--
            Command Item:

            A single command item to send.
            -->
            <template id="command-item-template">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{calculateCommandTime + " " + command.template.mnemonic }}</h5>
                        <small>Command Id 0x{{ command.id.toString(16) }}</small>
                    </div>
                    <p class="mb-1">Arguments: {{ command.args }}</p>
                </a>
            </template>
            <!--
            Command Argument:

            Command argument template for displaying a single argument.
            -->
            <template id="command-argument-template">
                <div>
                    <label :for="argument.name">{{ argument.name }}</label>
                    <input v-if="argument.type != 'Enum'" :type="inputType[0]" :id="argument.name" class="form-control"
                           :placeholder="argument.name" :pattern="inputType[1]"
                           v-model="argument.value">
                    <v-select v-if="argument.type == 'Enum'" :id="argument.name" style="flex: 1 1 auto;"
                              :clearable="false" :searchable="true"
                              :filterable="true"  label="full_name" :options="argument.possible"
                              v-model="argument.value">
                    </v-select>
                    <div>{{ argument.error }}</div>
                </div>
            </template>

            <!--
            Event Templates:

            These templates provide for event listing items. Events use the FPTable component to configure a nice list
            of events for display.
            -->
            <template id="event-list-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <h2>Events</h2>
                    </div>
                    <fp-table :header-columns="['Event Time', 'Event Id', 'Event Name', 'Event Severity', 'Event Description']"
                        :items="componentEvents"
                        :item-to-columns="columnify"
                        :row-style="style"
                        :item-to-unique="keyify"
                        :item-hide="isItemHidden"
                        :clear-rows="clearEvents"
                        :initial-fields="fields"
                        :filter-text="filterText"
                        :initial-views="itemsShown"
                        :compact="compact"
                    ></fp-table>
                </div>
            </template>
            <!--
            Channel Templates:

            These templates display a channel table.  It takes all channels supplied in a list, and prints a row for
            each channel. If this list contains duplicates, then the display will contain duplicates. This can be fixed
            -->
            <template id="channel-table-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <h2>Channels</h2>
                    </div>
                    <fp-table :header-columns="['Last Sample Time', 'Channel Id', 'Channel Name', 'Channel Value']"
                         :items="conform"
                         :item-to-columns="columnify"
                         :item-to-unique="keyify"
                         :support-views="true"
                         :item-to-view-name="itemToName"
                         :item-hide="channelHider"
                         :initial-fields="fields"
                         :filter-text="filterText"
                         :initial-views="itemsShown"
                         :compact="compact"
                    ></fp-table>
                </div>
            </template>
            <!-- Uplink;

            Uplink template defines a control form used to upload files to a given destination.

            Uses FP table to display the rows of the uplink table. This specifically chooses the file-row template for
            the rows, as it is customized for use with uplink.
            -->
            <template id="uplink-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <h2>File Uplink</h2>
                    </div>
                    <div class="form-row">
                            <label class="col-2">Destination Folder:</label>
                            <input class="col-2" type="text" v-model="destination" pattern="/.*" />
                            <div class="col-4">
                                <label>Add Files to Uplink:</label>
                                <input type="file" class="btn btn-active" v-bind:files="selected" multiple v-on:change="handleFiles" />
                            </div>
                            <button v-if="running" type="button" class="col-2 btn btn-outline-secondary" v-on:click="pauseUplink">Pause Uplink Queue</button>
                            <button v-if="!running" type="button" class="col-2 btn btn-outline-secondary" v-on:click="unpauseUplink">Unpause Uplink Queue</button>
                            <button type="button" class="col-2 btn btn-primary" v-on:click="uplinkFiles">Submit Uplink</button>
                        </div>
                        <div v-if="error != null" class="alert alert-danger" role="alert">
                            {{ this.error }}
                        </div>
                        <fp-table :header-columns="['Start Time', 'End Time', 'Source', 'Destination', 'State', 'Control', 'Progress']"
                                  :items="elements"
                                  :item-to-unique="keyify"
                                  :display-template="'file-row'"
                                  :item-to-columns="columnify"
                        ></fp-table>
                    </div>
                </div>
            </template>
            <!-- Downlink;

            Uses FP table to display the rows of the downlink table. This specifically chooses the file-row template for
            the rows, as it is customized for use with downlink.
            -->
            <template id="downlink-template">
                <div class="fp-flex-repeater">
                    <div class="fp-flex-header">
                        <h2>File Downlink</h2>
                    </div>
                    <fp-table :header-columns="['Start Time', 'End Time', 'Source', 'Destination', 'State', 'Control', 'Progress']"
                              :items="elements"
                              :item-to-unique="keyify"
                              :display-template="'file-row'"
                              :item-to-columns="columnify"
                    ></fp-table>
                </div>
            </template>

            <!-- FP Table Templates:

            FP Table is designed to create a common look-and-feel across all the table displays used in F´. This
            provides for a common filtering box, view loading box, and table with header information. It is used for the
            following table types:

            1. Command History
            2. Event History
            3. Active Telemetry

            This section consists of two templates, the row template, and the table template.
            -->
            <template id="fp-row-template">
                <tr :class="calculateStyle">
                    <th v-if="editing" v-on:input="onInput"><input type="checkbox" :checked="inView"></th>
                    <td v-for="(column, index) in calculatedColumns" v-on:dblclick="clickAction(item)" v-html="column"></td>
                </tr>
            </template>

            <!-- File Row:

            This is an alternate display for the row in an FP table that can show a file list item including commanding
            and progress. It is used by Uplink and downlink
            -->
            <template id="file-row-template">
                <tr>
                    <td>{{ item.start }}</td>
                    <td>{{ item.end }}</td>
                    <td>{{ item.source }}</td>
                    <td>{{ item.destination }}</td>
                    <td>{{ item.state }}</td>
                    <td v-if="item.uplink">
                        <button v-if="item.state != 'FINISHED' && item.state != 'CANCELED'" class="btn btn-secondary" v-on:click="fileAction">
                            {{ (item.state == "TRANSMITTING" ) ? "Cancel" : "Remove" }}
                        </button>
                    </td>
                    <td v-if="!item.uplink">
                        <a v-if="item.state == 'FINISHED'" class="btn btn-secondary"
                           :href="'/download/files/' + basename" :download="basename">
                            Download
                        </a>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" :aria-valuenow="item.percent"
                                 aria-valuemin="0" aria-valuemax="100" :style="{width: item.percent + '%'}">
                                {{ item.percent }}%
                            </div>
                        </div>
                    </td>
                </tr>
            </template>

            <!--
            FP Table:

            FP table supports the features of a sortable, filterable, table. It allows for the ability to specify views
            that reduce what is seen and specify custom row templates for non-standard data. It is used for each of the
            following data type displays:

            1. Command history
            2. Event log
            3. Active channel view
            4. File uplink curation and progress (uses file-row template)
            5. File downlink progress and download (uses file-row template)
            -->
            <template id="fp-table-template">
                <div class="fp-flex-repeater">
                    <div class="row fp-flex-header no-gutters justify-content-end" v-if="!compact">
                        <div class="mx-1">Filters:</div>
                        <div class="ml-1 col-4">
                            <v-select id="fp-table-filter" :clearable="true" :searchable="true" :taggable="true"
                                      :no-drop="true" :options="[]" :multiple="true"
                                      v-model="matching">
                            </v-select>
                        </div>
                    </div>
                    <div class="fp-scroll-container">
                        <div class="fp-scrollable">
                            <table  class="sortable table table-bordered table-hover">
                                <thead>
                                    <tr v-if="!compact">
                                        <th v-if="editing" class="sorttable_nosort">
                                            <input type="checkbox" v-on:input="checkAll" ref="allbox"
                                                :checked="view.length == items.length">
                                        </th>
                                        <th v-for="column in calculatedHeaderColumns">{{ column }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr :is="displayTemplate" v-for="item in filteredItems" :item="item"
                                        :item-to-columns="itemToColumns"
                                        :row-style="rowStyle"
                                        :key="itemToUnique(item)"
                                        :editing="editing"
                                        :in-view="inView(item)"
                                        v-on:row-checked="checkedChild"
                                        :click-action="clickAction"
                                        :all-items="filteredItems"
                                        :visible="visibleIndices"
                                    >
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- If the table supports editing views, these features support the edit context of the view -->
                    <div class="row fp-flex-header" v-if="editing && !compact">
                        <div class="col-4"></div>
                        <div class="btn-group col-8">
                            <div type="button" class="btn btn-secondary" v-on:click="clearView">Clear</div>
                            <a :href="viewHref" download="current-view.txt" class="btn btn-info">Export</a>
                            <label class="btn btn-info btn-file">
                                Import<input type="file" v-on:input="readFile" style="display: none;">
                            </label>
                            <div type="button" class="btn btn-primary" v-on:click="saveView">Done</div>
                        </div>
                    </div>
                    <div class="row fp-flex-header no-gutters justify-content-end" v-if="!editing && !compact">
                        <button type="button" class="col-3 btn btn-primary" v-if="supportViews && !editing"
                                v-on:click="editViews">Edit View</button>
                    </div>
                    <div class="row fp-flex-header no-gutters justify-content-end" v-if="!editing && !compact">
                        <button class="col-3 btn btn-secondary" v-if="clearRows != null" v-on:click="clearRows">Clear</button>
                    </div>
                </div>
            </template>
        </div>
    </body>
</html>
