# Each file represents the information for a single event
# These module variables are used to instance the event object within the Gse

#for $ser_import in $ser_import_list
import $ser_import
#end for

COMPONENT = "${component}"

NAME = "${name}"
ID  = ${id}
SEVERITY = "${severity}"
FORMAT_STRING = "${format_string}"
EVENT_DESCRIPTION = "${description}"

# Set arguments list with default values here.
ARGUMENTS = [
#for $argname,$arg_description,$type in $arglist:
    ("${argname}","${arg_description}",${type}),
#end for
    ]

