<title>${name} Component Dictionary</title>
# ${name} Component Dictionary

#if $has_commands

\#\# Command List

|Mnemonic|ID|Description|Arg Name|Arg Type|Comment
|---|---|---|---|---|---|
#for $mnemonic, $opcode, $sync, $priority, $full, $comment in $commands:
    #set $args = $command_args[$mnemonic]
    #set $args_length = len($args) + 1
    #if len($opcode) == 1:
       #set $opcode = $opcode[0]
       #if "x" in $opcode:
         #set $opcode = int($opcode, 16)
       #else
         #set $opcode = int($opcode)
       #end if
       #set $hexopcode = hex($opcode)
    #end if
|${mnemonic}|${opcode} (${hexopcode})|${comment}| | |
            #if $args_length > 1
                #set $args_index = 1
                #for $arg_name, $arg_type, $comment, $typeinfo in $args:
| | | |$arg_name|$arg_type|$comment|
                #end for
            #end if
#end for
#end if

#if $has_telemetry
\#\# Telemetry Channel List

|Channel Name|ID|Type|Description|
|---|---|---|---|
#for $id, $tlmname, $type, $size, $update, $comment, $typeinfo in $channels:
    ##
    #if len($id) == 1:
       #set $id = $id[0]
       #if "x" in $id:
         #set $id = int($id, 16)
       #else
         #set $id = int($id)
       #end if
       #set $hexid = hex($id)
    #end if
|$tlmname|$id ($hexid)|$type|$comment|
#end for
#end if

#if $has_events
\#\# Event List

|Event Name|ID|Description|Arg Name|Arg Type|Arg Size|Description
|---|---|---|---|---|---|---|
#for $id, $eventname, $severity, $format_string, $throttle, $comment in $events:
    #set $args = $event_args[$eventname]
    #set $args_length = len($args) + 1
    ##
    #if len($id) == 1:
       #set $id = $id[0]
       #if "x" in $id:
         #set $id = int($id, 16)
       #else
         #set $id = int($id)
       #end if
       #set $hexid = hex($id)
    #end if
|${eventname}|${id} (${hexid})|${comment}| | | | |
    #for $arg_name, $arg_type, $comment, $size, $typeinfo in $args:
| | | |$arg_name|$arg_type|$size|$comment|
    #end for
#end for
#end if
