<?xml version="1.0" encoding="UTF-8"?>

<!--====================================================================== 

  Svc
  FileDownlink
  Events

======================================================================-->

<events>

  <event
    id="0x00"
    name="FileOpenError"
    severity="WARNING_HI"
    format_string="Could not open file %s"
  >
    <comment>An error occurred opening a file</comment>
    <args>
      <arg
        name="fileName"
        type="string"
        size="100"
      >
        <comment>The name of the file</comment>
      </arg>
    </args>
  </event>

  <event
    id="0x01"
    name="FileReadError"
    severity="WARNING_HI"
    format_string="Could not read file %s with status %d"
  >
    <comment>An error occurred reading a file</comment>
    <args>
      <arg
        name="fileName"
        type="string"
        size="100"
      >
        <comment>The name of the file</comment>
      </arg>
      <arg
        name="status"
        type="I32"
      >
        <comment>The file status of read</comment>
      </arg>
    </args>
  </event>

  <event
    id="0x02"
    name="FileSent"
    severity="ACTIVITY_HI"
    format_string="Sent file %s to file %s"
  >
    <comment>The File Downlink component successfully sent a file</comment>
    <args>
      <arg
        name="sourceFileName"
        type="string"
        size="100"
      >
        <comment>The source file name</comment>
      </arg>
      <arg
        name="destFileName"
        type="string"
        size="100"
      >
        <comment>The destination file name</comment>
      </arg>
    </args>
  </event>

  <event
    id="0x03"
    name="DownlinkCanceled"
    severity="ACTIVITY_HI"
    format_string="Canceled downlink of file %s to file %s"
  >
    <comment>The File Downlink component canceled downlink of a file</comment>
    <args>
      <arg
        name="sourceFileName"
        type="string"
        size="100"
      >
        <comment>The source file name</comment>
      </arg>
      <arg
        name="destFileName"
        type="string"
        size="100"
      >
        <comment>The destination file name</comment>
      </arg>
    </args>
  </event>
  <event
    id="0x04"
    name="DownlinkTimeout"
    severity="WARNING_HI"
    format_string="Timeout occurred during downlink of file %s to file %s. Downlink has been canceled."
  >
  <comment>The File Downlink component has detected a timeout. Downlink has been canceled.</comment>
    <args>
      <arg
       name="sourceFileName"
       type="string"
       size="100"
      >      
        <comment>The source filename</comment>
      </arg>
      <arg
        name="destFileName"
        type="string"
        size="100"
      >
        <comment>The destination file name</comment>
      </arg>
    </args>
  </event>
  <event
    id="0x05"
    name="DownlinkPartialWarning"
    severity="WARNING_LO"
    format_string="Offset %d plus length %d is greater than source size %d for partial downlink of file %s to file %s. "
  >
  <comment>The File Downlink component has detected a timeout. Downlink has been canceled.</comment>
    <args>
      <arg
       name="startOffset"
       type="U32"
      >      
        <comment>Starting file offset in bytes</comment>
      </arg>
      <arg
        name="length"
        type="U32"
      >
        <comment>Number of bytes to downlink</comment>
      </arg>
      <arg
        name="filesize"
        type="U32"
      >
        <comment>Size of source file</comment>
      </arg>      
      <arg
       name="sourceFileName"
       type="string"
       size="100"
      >      
        <comment>The source filename</comment>
      </arg>
      <arg
        name="destFileName"
        type="string"
        size="100"
      >
        <comment>The destination file name</comment>
      </arg>
    </args>
  </event>
  <event
    id="0x06"
    name="DownlinkPartialFail"
    severity="WARNING_HI"
    format_string="Error occurred during partial downlink of file %s to file %s. Offset %d greater than or equal to source filesize %d."
  >
  <comment>The File Downlink component has detected a timeout. Downlink has been canceled.</comment>
    <args>
      <arg
       name="sourceFileName"
       type="string"
       size="100"
      >      
        <comment>The source filename</comment>
      </arg>
      <arg
        name="destFileName"
        type="string"
        size="100"
      >
        <comment>The destination file name</comment>
      </arg>
      <arg
       name="startOffset"
       type="U32"
      >      
        <comment>Starting file offset in bytes</comment>
      </arg>
      <arg
        name="filesize"
        type="U32"
      >
        <comment>Size of source file</comment>
      </arg>      
    </args>
  </event>
  <event
    id="0x07"
    name="SendDataFail"
    severity="WARNING_HI"
    format_string="Failed to send data packet from file %s at byte offset %d."
  >
  <comment>The File Downlink component generated an error when trying to send a data packet.</comment>
    <args>
      <arg
       name="sourceFileName"
       type="string"
       size="100"
      >      
        <comment>The source filename</comment>
      </arg>
      <arg
        name="byteOffset"
        type="U32"
      >
        <comment>Byte offset</comment>
      </arg>
    </args>
  </event>
  <event
    id="0x08"
    name="SendStarted"
    severity="ACTIVITY_HI"
    format_string="Downlink of %d bytes started from %s to %s"
  >
  <comment>The File Downlink component started a file download.</comment>
    <args>
      <arg
       name="fileSize"
       type="U32"
      >
        <comment>The source file size</comment>
      </arg>
      <arg
       name="sourceFileName"
       type="string"
       size="100"
      >
        <comment>The source filename</comment>
      </arg>
      <arg
        name="destFileName"
        type="string"
        size="100"
      >
        <comment>The destination filename</comment>
      </arg>
    </args>
  </event>
</events>
