<events>
    <!-- Open error -->
    <event id="0" name="DR_OpenError" severity="WARNING_HI" format_string = "Error opening UART device %s: %d %s" >
        <comment>
        UART open error
        </comment>
        <args>
            <arg name="device" type="string" size="40">
                <comment>The device</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
            <arg name="name" type="string" size="40">
                <comment>error string</comment>
            </arg>
        </args>
    </event>
    <!-- Config error -->
    <event id="1" name="DR_ConfigError" severity="WARNING_HI" format_string = "Error configuring UART device %s: %d" >
        <comment>
        UART config error
        </comment>
        <args>
            <arg name="device" type="string" size="40">
                <comment>The device</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <event id="2" name="DR_WriteError" severity="WARNING_HI" format_string = "Error writing UART device %s: %d"  throttle = "5">
        <comment>
        UART write error
        </comment>
        <args>
            <arg name="device" type="string" size="40">
                <comment>The device</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <event id="3" name="DR_ReadError" severity="WARNING_HI" format_string = "Error reading UART device %s: %d" throttle = "5">
        <comment>
        UART read error
        </comment>
        <args>
            <arg name="device" type="string" size="40">
                <comment>The device</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <event id="4" name="DR_PortOpened" severity="ACTIVITY_HI" format_string = "UART Device %s configured" >
        <comment>
        UART port opened event
        </comment>
        <args>
            <arg name="device" type="string" size="40">
                <comment>The device</comment>
            </arg>
        </args>
    </event>
    <event id="5" name="DR_NoBuffers" severity="WARNING_HI" format_string = "UART Device %s ran out of buffers" throttle = "20">
        <comment>
        UART ran out of buffers
        </comment>
        <args>
            <arg name="device" type="string" size="40">
                <comment>The device</comment>
            </arg>
        </args>
    </event>
    <event id="6" name="DR_BufferTooSmall" severity="WARNING_HI" format_string = "UART Device %s target buffer too small. Size: %d Needs: %d" >
        <comment>
        UART ran out of buffers
        </comment>
        <args>
            <arg name="device" type="string" size="40">
                <comment>The device</comment>
            </arg>
            <arg name="size" type="U32">
                <comment>The provided buffer size</comment>
            </arg>
            <arg name="needed" type="U32">
                <comment>The buffer size needed</comment>
            </arg>
        </args>
    </event>
</events>
