    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<%= File.join('assets', 'js', 'jquery-1.10.2.min.js') %>"></script>
    <script src="<%= File.join('assets', 'js', 'bootstrap.min.js') %>"></script>
  </body>
</html>
