<?xml version="1.0" encoding="UTF-8"?>

<!--======================================================================

  Svc
  FileUplink
  Events

======================================================================-->

<events>

  <event
    id="0"
    name="BadChecksum"
    severity="WARNING_HI"
    format_string="Bad checksum value during receipt of file %s: computed 0x%08X, read 0x%08X"
  >
    <comment>During receipt of a file, the computed checksum value did not match the stored value</comment>
    <args>
      <arg
        name="fileName"
        type="string"
        size="40"
      >
        <comment>The file name</comment>
      </arg>
      <arg
        name="computed"
        type="U32"
        size="40"
      >
        <comment>The computed value</comment>
      </arg>
      <arg
        name="read"
        type="U32"
        size="40"
      >
        <comment>The value read</comment>
      </arg>
    </args>
  </event>

  <event
    id="1"
    name="FileOpenError"
    severity="WARNING_HI"
    format_string="Could not open file %s"
  >
    <comment>An error occurred opening a file</comment>
    <args>
      <arg
        name="fileName"
        type="string"
        size="40"
      >
        <comment>The name of the file</comment>
      </arg>
    </args>
  </event>

  <event
    id="2"
    name="FileReceived"
    severity="ACTIVITY_HI"
    format_string="Received file %s"
  >
    <comment>The File Uplink component successfully received a file</comment>
    <args>
      <arg
        name="fileName"
        type="string"
        size="40"
      >
        <comment>The name of the file</comment>
      </arg>
    </args>
  </event>

  <event
    id="3"
    name="FileWriteError"
    severity="WARNING_HI"
    format_string="Could not write to file %s"
    throttle="5"
  >
    <comment>An error occurred writing to a file</comment>
    <args>
      <arg
        name="fileName"
        type="string"
        size="40"
      >
        <comment>The name of the file</comment>
      </arg>
    </args>
  </event>

  <event
    id="4"
    name="InvalidReceiveMode"
    severity="WARNING_HI"
    format_string="Packet type %u received in mode %u"
    throttle="5"
  >
    <comment>The File Uplink component received a packet with a type that was invalid for the current receive mode</comment>
    <args>
      <arg
        name="packetType"
        type="U32"
        size="40"
      >
        <comment>The type of the packet received</comment>
      </arg>
      <arg
        name="mode"
        type="U32"
        size="40"
      >
        <comment>The receive mode</comment>
      </arg>
    </args>
  </event>

  <event
    id="5"
    name="PacketOutOfBounds"
    severity="WARNING_HI"
    format_string="Packet %u out of bounds for file %s"
    throttle="5"
  >
    <comment>During receipt of a file, the File Uplink component encountered a packet with offset and size out of bounds for the current file</comment>
    <args>
      <arg
        name="packetIndex"
        type="U32"
        size="40"
      >
        <comment>The sequence index of the packet</comment>
      </arg>
      <arg
        name="fileName"
        type="string"
        size="40"
      >
        <comment>The name of the file</comment>
      </arg>
    </args>
  </event>

  <event
    id="6"
    name="PacketOutOfOrder"
    severity="WARNING_HI"
    format_string="Received packet %u after packet %u"
    throttle="20"
  >
    <comment>The File Uplink component encountered an out-of-order packet during file receipt</comment>
    <args>
      <arg
        name="packetIndex"
        type="U32"
        size="40"
      >
        <comment>The sequence index of the out-of-order packet</comment>
      </arg>
      <arg
        name="lastPacketIndex"
        type="U32"
        size="40"
      >
        <comment>The sequence index of the last packet received before the out-of-order packet</comment>
      </arg>
    </args>
  </event>

  <event
    id="7"
    name="UplinkCanceled"
    severity="ACTIVITY_HI"
    format_string="Received CANCEL packet"
  >
    <comment>The File Uplink component received a CANCEL packet</comment>
  </event>

  <event id="8"
    name="DecodeError"
    severity="WARNING_HI"
    format_string="Unable to decode file packet. Status: %d"
  >
    <comment>Error decoding file packet</comment>
    <args>
      <arg
        name="status"
        type="I32"
      >
        <comment>The sequence index of the out-of-order packet</comment>
      </arg>
    </args>
  </event>



</events>
