####
# File requirements.txt:
#
# This file provides the python requirements for the F prime Autocoder package. This file unifies
# both the Python 2 and Python 3 requirements. It can be installed in the local python environment
# using the following command:
#
# ```
# pip install -r ./requirements.txt
# ```
####
# Independent requirements
lxml
enum34
Markdown
# Python 3 Cheetah version
Cheetah3; python_version > '2.7'
# Python 2 Cheetah and python time zones
Cheetah; python_version <= '2.7'
pytz; python_version <= '2.7'
