
html {
    font-family: 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif ;
    font-size: 90% ;
}

body {
    background: #1c4e63;
}

table {
    font-size: 80% ;
    border: 1px solid black ;
    border-spacing: 2px ;
    border-color: gray ;
}

table thead {
    background: #add8e6 ;
}

/* Table of Contents */
.heading {
    font-size: x-large ;
}

.nav .heading {
    color: #ffffff ;
}

div.h1 {
    font-size: 70% ;
    text-indent: 1em ;
}

div.h2 {
    font-size: 60% ;
    text-indent: 2em ;
}

div.h3 {
    font-size: 55% ;
    text-indent: 3em ;
}

div.body {
    background-color: #ffffff ;
    margin: 20px 10px 20px 10px ;
    padding: 0px 10px 10px 10px ;
}

div.figure {
    width: 100% ;
    display: table-cell;
    vertical-align: middle ;
    text-align: center ;
    /* background-color: #aaaaaa ; */
}

div.body h1,h2,h3,h4,h5,h6 {
    background-color: #f2f2f2;
    font-weight: normal ;
    border-bottom: 1px solid #ccc ;
    margin: 10px -8px 10px -8px ;
    padding: 10px 10px 3px 10px ;
}

div.figure {
    width: 40% ;
}

/*
**  Table of Contents
*/
div#nav {
    color: #98dbcc ;
    /* margin-left: 40px ; */
    width: 200px ;
    position: fixed ;
}

div.body a:link {
  color: #2222ff ;
}

div.body a:visited {
  color: #2222ff ;
}

div.body a:hover {
  background-color: yellow ;
}

.nav a,a:visited,a:hover,a:link {
    color: #98dbcc ;
    text-decoration: none ;
}

.nav li {
    color: #ffffff ;
}

#toc a:hover {
    text-decoration: underline ;
    color: #ffffff ;
}

li.toc-h1 {
    /* margin-left: 0px ; */
    font-size: larger ;
    padding-top: 5px ;
    padding-bottom: 2px ;
}

li.toc-h2 {
    margin-left: 10px ;
    padding-top: 2px ;
}

li.toc-h3 {
    margin-left: 20px ;
    font-size: smaller ;
}

li.toc-h4,li.toc-h5,li.toc-h6 {
    margin-left: 30px ;
    font-size: smaller ;
}

section#toc {
    margin-left: -20px ;
}

#toc ul {
    /* list-style-type: decimal ; */
}

#toc ol {
    /* padding-left: 10px ; */
}

/* Requirements Table */
.hover-select {
    background-color: #ffff00 ;
}
