    public:
        enum {
            SERIALIZED_SIZE = $args_sum_str //!< serialized size of port arguments
        };
##
## If args_string len is zero then no arguments.
##
#if len($args_string) == 0:
        typedef ${return_type}(*CompFuncPtr)(Fw::PassiveComponentBase* callComp, NATIVE_INT_TYPE portNum); //!< port callback definition
#else
        typedef ${return_type}(*CompFuncPtr)(Fw::PassiveComponentBase* callComp, NATIVE_INT_TYPE portNum, ${args_string}); //!< port callback definition
#end if

        Input${name}Port(void); //!< constructor
        void init(void); //!< initialization function
        void addCallComp(Fw::PassiveComponentBase* callComp, CompFuncPtr funcPtr); //!< call to register a component
        ${return_type}invoke($args_string); //!< invoke port interface
