protected:

    enum {
        TYPE_ID = ${uuid} //!< type id
    };

#for (name,type,array_size,size,format,comment,typeinfo) in $members:
#if $array_size == None:
    ${type} m_${name}; //<! ${name} - ${comment}
#else
    ${type} m_${name}[${array_size}]; //<! ${name} - ${comment}

#end if
#end for
