<events>
    <!-- Open error -->
    <event id="0" name="SPI_OpenError" severity="WARNING_HI" format_string = "Error opening SPI device %d.%d: %d" >
        <comment>
        SPI open error
        </comment>
        <args>
            <arg name="device" type="I32">
                <comment>The device</comment>
            </arg>
            <arg name="select" type="I32">
                <comment>The chip select</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <!-- Open error -->
    <event id="1" name="SPI_ConfigError" severity="WARNING_HI" format_string = "Error configuring SPI device %d.%d: %d" >
        <comment>
        SPI config error
        </comment>
        <args>
            <arg name="device" type="I32">
                <comment>The device</comment>
            </arg>
            <arg name="select" type="I32">
                <comment>The chip select</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <event id="2" name="SPI_WriteError" severity="WARNING_HI" format_string = "Error writing/reading SPI device %d.%d: %d"  throttle = "5">
        <comment>
        SPI write error
        </comment>
        <args>
            <arg name="device" type="I32">
                <comment>The device</comment>
            </arg>
            <arg name="select" type="I32">
                <comment>The chip select</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <event id="4" name="SPI_PortOpened" severity="ACTIVITY_HI" format_string = "SPI Device %d.%d configured" >
        <comment>
        SPI open notification
        </comment>
        <args>
            <arg name="device" type="I32">
                <comment>The device</comment>
            </arg>
            <arg name="select" type="I32">
                <comment>The chip select</comment>
            </arg>
        </args>
    </event>
</events>
