// ======================================================================
// \title  ${name}.hpp
// \author $user
// \brief  cpp file for ${name} test harness implementation class
// ======================================================================

\#include "Tester.hpp"

#if $namespace_list != None
  #for $namespace in $namespace_list
namespace ${namespace} {
  #end for
#end if

  // ----------------------------------------------------------------------
  // Construction and destruction
  // ----------------------------------------------------------------------

  Tester ::
    Tester() :
      ${gtest_base}("Tester", Tester::MAX_HISTORY_SIZE),
      component("${name}")
  {
    this->initComponents();
    this->connectPorts();
  }

  Tester ::
    ~Tester()
  {

  }

  // ----------------------------------------------------------------------
  // Tests
  // ----------------------------------------------------------------------

  void Tester ::
    toDo()
  {
    // TODO
  }

#if len($typed_user_output_ports) > 0:
  // ----------------------------------------------------------------------
  // Handlers for typed from ports
  // ----------------------------------------------------------------------

  #for $instance, $type, $sync, $priority, $role, $max_num in $typed_user_output_ports:
    #set $return_type = $port_return_type_strs[$instance]
  ${return_type}Tester ::
    from_${instance}_handler(
$emit_port_params([ $param_portNum ] + $port_params[$instance])
    )
  {
    this->pushFromPortEntry_${instance}($port_arg_strs[$instance]);
    #if not $return_type[:4] == "void":
    // TODO: Return a value
    #end if
  }

  #end for
#end if
#if len($serial_output_ports) > 0:
  // ----------------------------------------------------------------------
  // Handlers for serial from ports
  // ----------------------------------------------------------------------

  #for $instance, $sync, $priority, $max_num in $serial_output_ports:
    #set $return_type = $port_return_type_strs[$instance]
  ${return_type}Tester ::
    from_${instance}_handler(
        NATIVE_INT_TYPE portNum, $doxygen_post_comment("The port number")
        Fw::SerializeBufferBase &Buffer $doxygen_post_comment("The serialization buffer")
    )
  {
    // TODO
  }

  #end for
#end if

#if $namespace_list != None
  #for $namespace in $reversed($namespace_list)
} // end namespace $namespace
  #end for
#end if
