// ======================================================================
// \title  ${name}/test/ut/Tester.hpp
// \author $user
// \brief  hpp file for ${name} test harness implementation class
// ======================================================================

\#ifndef TESTER_HPP
\#define TESTER_HPP

\#include "GTestBase.hpp"
\#include "${include_path}/${name}.hpp"

#if $namespace_list != None
  #for $namespace in $namespace_list
namespace ${namespace} {
  #end for

#end if
  class Tester :
    public $gtest_base
  {

      // ----------------------------------------------------------------------
      // Construction and destruction
      // ----------------------------------------------------------------------

    public:
      // Maximum size of histories storing events, telemetry, and port outputs
      static const NATIVE_INT_TYPE MAX_HISTORY_SIZE = 10;
      // Instance ID supplied to the component instance under test
      static const NATIVE_INT_TYPE TEST_INSTANCE_ID = 0;
      #if $kind != "passive":
      // Queue depth supplied to component instance under test
      static const NATIVE_INT_TYPE TEST_INSTANCE_QUEUE_DEPTH = 10;
      #end if

      //! Construct object Tester
      //!
      Tester();

      //! Destroy object Tester
      //!
      ~Tester();

    public:

      // ----------------------------------------------------------------------
      // Tests
      // ----------------------------------------------------------------------

      //! To do
      //!
      void toDo();

#if len($typed_user_output_ports) > 0:
    private:

      // ----------------------------------------------------------------------
      // Handlers for typed from ports
      // ----------------------------------------------------------------------

  #for $instance, $type, $sync, $priority, $role, $max_num in $typed_user_output_ports:
    #set $return_type = $port_return_type_strs[$instance]
      //! Handler for from_${instance}
      //!
      ${return_type}from_${instance}_handler(
$emit_port_params([ $param_portNum ] + $port_params[$instance])
      );

  #end for
#end if
#if len($serial_output_ports) > 0:
    private:

      // ----------------------------------------------------------------------
      // Handlers for serial from ports
      // ----------------------------------------------------------------------

  #for $instance, $sync, $priority, $max_num in $serial_output_ports:
    #set $return_type = $port_return_type_strs[$instance]
      //! Handler for from_${instance}
      //!
      ${return_type}from_${instance}_handler(
        NATIVE_INT_TYPE portNum, $doxygen_post_comment("The port number")
        Fw::SerializeBufferBase &Buffer $doxygen_post_comment("The serialization buffer")
      );

  #end for
#end if
    private:

      // ----------------------------------------------------------------------
      // Helper methods
      // ----------------------------------------------------------------------

      //! Connect ports
      //!
      void connectPorts();

      //! Initialize components
      //!
      void initComponents();

    private:

      // ----------------------------------------------------------------------
      // Variables
      // ----------------------------------------------------------------------

      //! The component under test
      //!
      ${name} component;

  };

#if $namespace_list != None
  #for $namespace in $reversed($namespace_list)
} // end namespace $namespace
  #end for

#end if
\#endif
