[Unit]
          Description=fprime-sensors-reference FSW system service meant for soak testing
          After=network.target
[Service]
          Type=simple
          User=${SERVICE_USER}
          WorkingDirectory=${INSTALL_DIR}
          ExecStart=${INSTALL_DIR}/bin/LedBlinker -a 0.0.0.0 -p 50000
          StandardOutput=journal
          StandardError=journal
[Install]
          WantedBy=multi-user.target
