<html>
  <head>
  </head>
  <body style="">
    <div style="border-bottom: 1px solid black; width: 100%">
      <div id="left" style="float:left;text-align:left;">
        <img width=50 src="file:///<%= File.join(System.paths['HANDBOOKS'], 'assets', 'img', 'ball_logo.jpg') %>"></img>
      </div>
      <div id="right" style="float:right;text-align:right;">
        <div>Document No.: XXXXXXX</div>
        <div>Revision: TBD</div>
        <div>Date: TBD</div>
      </div>
      <div id="center" style="width:500px;margin:0px auto;text-align:center;">
        Copies are Uncontrolled
      </div>
      <div style="clear:both;"></div>
    </div>

    <h1 style="text-align:center;margin-top:100px;"><%= title %></h1>
    <h3 style="text-align:center;">For the COSMOS Demo Project</h3>
  </body>
</html>
