<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../../Autocoders/schema/ISF/event_schema.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>

<!--
Copyright (C) 2009-2018 California Institute of Technology.
ALL RIGHTS RESERVED.  United States Government Sponsorship
acknowledged.
-->

<!--===== Svc CmdSequencer Events =========== -->

<events>
    <event id="0" name="CS_SequenceLoaded" severity="ACTIVITY_LO"
        format_string="Loaded sequence %s">
        <comment>Sequence file was successfully loaded.</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
        </args>
    </event>
    <event id="1" name="CS_SequenceCanceled" severity="ACTIVITY_HI"
        format_string="Sequence file %s canceled">
        <comment>A command sequence was successfully canceled.</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
        </args>
    </event>
    <event id="2" name="CS_FileReadError" severity="WARNING_HI"
        format_string="Error reading sequence file %s">
        <comment>The Sequence File Loader could not read the sequence file.
        </comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
        </args>
    </event>
    <event id="3" name="CS_FileInvalid" severity="WARNING_HI"
        format_string="Sequence file %s invalid. Stage: %d Error: %d">
        <comment>The sequence file format was invalid.</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="stage" type="ENUM">
                <enum name="FileReadStage">
                    <item name="SEQ_READ_HEADER" />
                    <item name="SEQ_READ_HEADER_SIZE" />
                    <item name="SEQ_DESER_SIZE" />
                    <item name="SEQ_DESER_NUM_RECORDS" />
                    <item name="SEQ_DESER_TIME_BASE" />
                    <item name="SEQ_DESER_TIME_CONTEXT" />
                    <item name="SEQ_READ_SEQ_CRC" />
                    <item name="SEQ_READ_SEQ_DATA" />
                    <item name="SEQ_READ_SEQ_DATA_SIZE" />
                </enum>
                <comment>The read stage</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <event id="4" name="CS_RecordInvalid" severity="WARNING_HI"
    	   format_string="Sequence file %s: Record %d invalid. Err: %d">
    	   <comment>The format of a command record was invalid.</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="recordNumber" type="U32">
                <comment>The record number</comment>
            </arg>
            <arg name="error" type="I32">
                <comment>The error code</comment>
            </arg>
        </args>
    </event>
    <event id="5" name="CS_FileSizeError" severity="WARNING_HI"
        format_string="Sequence file %s too large. Size: %d">
        <comment>The sequence file was too large.</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="size" type="U32">
                <comment>Invalid size</comment>
            </arg>
        </args>
    </event>
    <event id="6" name="CS_FileNotFound" severity="WARNING_HI"
        format_string="Sequence file %s not found.">
        <comment>The sequence file was not found</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The sequence file</comment>
            </arg>
         </args>
    </event>
    <event id="7" name="CS_FileCrcFailure" severity="WARNING_HI"
        format_string="Sequence file %s had invalid CRC. Stored 0x%08X, Computed 0x%08X.">
        <comment>The sequence file validation failed</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The sequence file</comment>
            </arg>
            <arg name="storedCRC" type="U32">
                <comment>The CRC stored in the file</comment>
            </arg>
            <arg name="computedCRC" type="U32">
                <comment>The CRC computed over the file</comment>
            </arg>
         </args>
    </event>
    <event id="8" name="CS_CommandComplete" severity="ACTIVITY_LO"
        format_string="Sequence file %s: Command %d (opcode %d) complete">
        <comment>The Command Sequencer issued a command and received a success status in return.</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="recordNumber" type="U32">
                <comment>The record number of the command</comment>
            </arg>
            <arg name="opCode" type="U32">
                <comment>The command opcode</comment>
            </arg>
        </args>
    </event>
    <event id="9" name="CS_SequenceComplete" severity="ACTIVITY_HI"
        format_string="Sequence file %s complete">
        <comment>A command sequence successfully completed.</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
        </args>
    </event>
    <event id="10" name="CS_CommandError" severity="WARNING_HI"
        format_string="Sequence file %s: Command %d (opcode %d) completed with error %d">
        <comment>The Command Sequencer issued a command and received an error status in return.
        </comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="recordNumber" type="U32">
                <comment>The record number</comment>
            </arg>
            <arg name="opCode" type="U32">
                <comment>The opcode</comment>
            </arg>
            <arg name="errorStatus" type="U32">
                <comment>The error status</comment>
            </arg>
        </args>
    </event>
    <event id="11" name="CS_InvalidMode" severity="WARNING_HI"
        format_string="Invalid mode">
        <comment>The Command Sequencer received a command that was invalid for its current mode.
        </comment>
    </event>
    <event id="12" name="CS_RecordMismatch" severity="WARNING_HI"
        format_string="Sequence file %s header records mismatch: %d in header, found %d extra bytes.">
        <comment>Number of records in header doesn't match number in file</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="header_records" type="U32">
                <comment>The number of records in the header</comment>
            </arg>
            <arg name="extra_bytes" type="U32">
                <comment>The number of bytes beyond last record</comment>
            </arg>
        </args>
    </event>
    <event id="13" name="CS_TimeBaseMismatch" severity="WARNING_HI"
        format_string="Sequence file %s: Current time base doesn't match sequence time: base: %d seq: %d">
        <comment>The running time base doesn't match the time base in the sequence files</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="time_base" type="U16">
                <comment>The current time</comment>
            </arg>
            <arg name="seq_time_base" type="U16">
                <comment>The sequence time base</comment>
            </arg>
        </args>
    </event>
    <event id="14" name="CS_TimeContextMismatch" severity="WARNING_HI"
        format_string="Sequence file %s: Current time context doesn't match sequence context: base: %d seq: %d">
        <comment>The running time base doesn't match the time base in the sequence files</comment>
        <args>
            <arg name="fileName" type="string" size="60">
                <comment>The name of the sequence file</comment>
            </arg>
            <arg name="currTimeBase" type="U8">
                <comment>The current time base</comment>
            </arg>
            <arg name="seqTimeBase" type="U8">
                <comment>The sequence time base</comment>
            </arg>
        </args>
    </event>
    <event id="15" name="CS_PortSequenceStarted" severity="ACTIVITY_HI"
        format_string="Local request for sequence %s started.">
        <comment>A local port request to run a sequence was started</comment>
        <args>
            <arg name="filename" type="string" size="60">
                <comment>The sequence file</comment>
            </arg>
        </args>
    </event>
    <event id="16" name="CS_UnexpectedCompletion" severity="WARNING_HI"
        format_string="Command complete status received while no sequences active. Opcode: %d">
        <comment>A command status came back when no sequence was running</comment>
        <args>
            <arg name="opcode" type="U32">
                <comment>The reported opcode</comment>
            </arg>
        </args>
    </event>
    <event id="17" name="CS_ModeSwitched" severity="ACTIVITY_HI"
        format_string="Sequencer switched to %d step mode">
        <comment>Switched step mode</comment>
        <args>
            <arg name="mode" type="ENUM">
                <enum name="SeqMode">
                    <item name="SEQ_STEP_MODE" />
                    <item name="SEQ_AUTO_MODE" />
                </enum>
                <comment>The new mode</comment>
            </arg>
        </args>
    </event>
    <event id="18" name="CS_NoSequenceActive" severity="WARNING_LO"
        format_string="No sequence active.">
        <comment>A sequence related command came with no active sequence</comment>
    </event>
    <event id="19" name="CS_SequenceValid" severity="ACTIVITY_HI"
        format_string="Sequence %s is valid.">
        <comment>A sequence passed validation</comment>
        <args>
            <arg name="filename" type="string" size="60">
                <comment>The sequence file</comment>
            </arg>
        </args>
    </event>
    <event id="20" name="CS_SequenceTimeout" severity="WARNING_HI"
        format_string="Sequence %s timed out on command %d">
        <comment>A sequence passed validation</comment>
        <args>
            <arg name="filename" type="string" size="60">
                <comment>The sequence file</comment>
            </arg>
            <arg name="command" type="U32">
                <comment>The command that timed out</comment>
            </arg>
        </args>
    </event>
    <event id="21" name="CS_CmdStepped" severity="ACTIVITY_HI"
        format_string="Sequence %s command %d stepped">
        <comment>A command in a sequence was stepped through</comment>
        <args>
            <arg name="filename" type="string" size="60">
                <comment>The sequence file</comment>
            </arg>
            <arg name="command" type="U32">
                <comment>The command that was stepped</comment>
            </arg>
        </args>
    </event>
    <event id="22" name="CS_CmdStarted" severity="ACTIVITY_HI"
        format_string="Sequence %s started">
        <comment>A manual sequence was started</comment>
        <args>
            <arg name="filename" type="string" size="60">
                <comment>The sequence file</comment>
            </arg>
        </args>
    </event>
</events>
