/**
 * FP Backgrounds:
 *
 * F prime background colors are used to set the color of the various items in the system. This means highlighting
 * Events, and  Channels based on severity.


/**
 * Based on work from: https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3 these CSS items
 * help make the file input looks like other buttons. Thus allowing it to play nicely with the other bootstrap buttons
 * being used by the project.
 */
.btn-file {
    position: relative;
    overflow: hidden;
    height: 100%;
}

/**
 * Based on recommendations here: https://stackoverflow.com/questions/41674548/how-to-make-html-table-columns-resizable
 * this CSS class allows us to use a <div></div> construct inside <th></th> elements of an FP table in order to resize
 * the header horizontally.
 */
/*div.resize-head-div {
    resize: horizontal;
    overflow: auto;
    display: inline-block;
    text-overflow: ellipsis;
}*/

table {
    width:auto;
    white-space: nowrap;
}
table td:last-child {
    width:100%;
}
