<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="file:../xml/ISF_Component_Schema.rnc" type="compact"?>

<!--======================================================================

  Svc
  BufferManager
  Events

======================================================================-->

<events>

  <event
    id="0x00"
    name="ClearedErrorState"
    severity="ACTIVITY_HI"
    format_string="Cleared activity state"
  >
    <comment>The Buffer Manager has cleared its error state</comment>
  </event>

  <event
    id="0x01"
    name="StoreSizeExceeded"
    severity="WARNING_HI"
    format_string="Exceeded storage size"
  >
    <comment>The Buffer Manager received an allocation request that, if granted, would cause the storage buffer to overflow</comment>
  </event>

  <event
    id="0x02"
    name="TooManyBuffers"
    severity="WARNING_HI"
    format_string="Too many active buffers"
  >
    <comment>The Buffer Manager received an allocation request that, if granted, would result in too many buffers</comment>
  </event>
</events>
