<?xml version="1.0" encoding="UTF-8"?>

<!--======================================================================

  Svc
  BufferManager
  Events

======================================================================-->

<events>

  <event
    id="0x00"
    name="NoBuffsAvailable"
    severity="WARNING_HI"
    format_string="No available buffers of size %d"
    throttle="10"
  >
    <args>
        <arg name="size" type="U32">
            <comment>The requested size</comment>
        </arg>          
    </args>

    <comment>The BufferManager was unable to allocate a requested buffer</comment>
  </event>

  <event
    id="0x01"
    name="ZeroSizeBuffer"
    severity="WARNING_HI"
    format_string="Received zero size buffer"
    throttle="10"
  >
    <comment>The buffer manager received a zero-sized buffer as a return. Probably undetected empty buffer allocation</comment>
  </event>
</events>
