npm-debug.log
res/*Points.json
res/*Packets.json
res/*Dictionary.json
res/COSMOSLog.json
res/dictPath.txt
file-data/
telemdb/
res/channels.json
file-data/
telemdb/
persistdb/
archive/
openmct-old/node_modules
package-lock.json
!core
commit.txt
node_modules/
client/node_modules
