    /// Output $name port description
    /// $desc
    
    class Output${name}Port : public Fw::OutputPortBase {
      public: 
        Output${name}Port(void);
        void init(void);
        void addCallPort(Input${name}Port* callPort);
        ${return_type}invoke($args_string);
      protected:
      private:
        Input${name}Port* m_port;
    };
#if $namespace_list != None
 #for $namespace in $reversed($namespace_list)
} // end namespace $namespace
 #end for    
#end if
\#endif /* ${name_space.upper()}_${name.upper()}_PORT_HPP_ */

