/*
 * ${name}Port.hpp
 *
 *  Created on: ${date}
 *  Author:     ${user}
 *
 */
\#ifndef ${name_space.upper().replace("::", "_")}_${name.upper()}_PORT_HPP_
\#define ${name_space.upper().replace("::", "_")}_${name.upper()}_PORT_HPP_
