<?xml version="1.0" encoding="UTF-8"?>

<!--====================================================================== 

  ISFA
  FileManagerm
  Events

======================================================================-->

<events event_base="0x00">

  <event id="0x00" name="DirectoryCreateError" severity="WARNING_HI" format_string="Could not create directory %s, returned status %d">
    <comment>An error occurred while attempting to create a directory</comment>
    <args>
      <arg name="dirName" type="string" size="256">
        <comment>The name of the directory</comment>
      </arg>
      <arg name="status" type="U32" size="256">
        <comment>The error status</comment>
      </arg>
    </args>
  </event>

  <event id="0x01" name="DirectoryRemoveError" severity="WARNING_HI" format_string="Could not remove directory %s, returned status %d">
    <comment>An error occurred while attempting to remove a directory</comment>
    <args>
      <arg name="dirName" type="string" size="256">
        <comment>The name of the directory</comment>
      </arg>
      <arg name="status" type="U32" size="256">
        <comment>The error status</comment>
      </arg>
    </args>
  </event>

  <event id="0x02" name="FileMoveError" severity="WARNING_HI" format_string="Could not move file %s to file %s, returned status %d">
    <comment>An error occurred while attempting to move a file</comment>
    <args>
      <arg name="sourceFileName" type="string" size="256">
        <comment>The name of the source file</comment>
      </arg>
      <arg name="destFileName" type="string" size="256">
        <comment>The name of the destination file</comment>
      </arg>
      <arg name="status" type="U32" size="256">
        <comment>The error status</comment>
      </arg>
    </args>
  </event>

  <event id="0x03" name="FileRemoveError" severity="WARNING_HI" format_string="Could not remove file %s, returned status %d">
    <comment>An error occurred while attempting to remove a file</comment>
    <args>
      <arg name="fileName" type="string" size="256">
        <comment>The name of the file</comment>
      </arg>
      <arg name="status" type="U32" size="256">
        <comment>The error status</comment>
      </arg>
    </args>
  </event>

  <event id="0x04" name="ShellCommandFailed" severity="WARNING_HI" format_string="Shell command %s failed with status %d">
    <comment>The File System component executed a shell command that returned status non-zero</comment>
    <args>
      <arg name="command" type="string" size="256">
        <comment>The command string</comment>
      </arg>
      <arg name="status" type="U32" size="256">
        <comment>The status code</comment>
      </arg>
    </args>
  </event>

  <event id="0x05" name="AppendFileFailed" severity="WARNING_HI" format_string="Appending %s onto %s failed with status %d">
    <comment>The File System component returned status non-zero when trying to append 2 files together</comment>
    <args>
      <arg name="source" type="string" size="256">
        <comment>The name of the file being read from</comment>
      </arg>
      <arg name="target" type="string" size="256">
        <comment>The name of the file to append to</comment>
      </arg>
      <arg name="status" type="U32" size="256">
        <comment>The error status</comment>
      </arg>
    </args>
  </event>

  <event id="0x06" name="AppendFileSucceeded" severity="ACTIVITY_HI" format_string="Appended %s to the end of %s">
    <comment>The File System component appended 2 files without error</comment>
    <args>
      <arg name="source" type="string" size="256">
        <comment>The name of the file being read from</comment>
      </arg>
      <arg name="target" type="string" size="256">
        <comment>The name of the file to append to</comment>
      </arg>
    </args>
  </event>

  <event id="0x07" name="ShellCommandSucceeded" severity="ACTIVITY_HI" format_string="Shell command %s succeeded">
    <comment>The File System component executed a shell command that returned status zero</comment>
    <args>
      <arg name="command" type="string" size="256">
        <comment>The command string</comment>
      </arg>
    </args>
  </event>

  <event id="0x08" name="CreateDirectorySucceeded" severity="ACTIVITY_HI" format_string="Created directory %s successfully">
    <comment>The File System component created a new directory without error</comment>
    <args>
      <arg name="dirName" type="string" size="256">
        <comment>The name of the directory</comment>
      </arg>
    </args>
  </event>

    <event id="0x09" name="RemoveDirectorySucceeded" severity="ACTIVITY_HI" format_string="Removed directory %s successfully">
    <comment>The File System component deleted and existing directory without error</comment>
    <args>
      <arg name="dirName" type="string" size="256">
        <comment>The name of the directory</comment>
      </arg>
    </args>
  </event>

  <event id="0x0A" name="MoveFileSucceeded" severity="ACTIVITY_HI" format_string="Moved file %s to file %s successfully">
    <comment>The File System component moved a file to a new location without error</comment>
    <args>
      <arg name="sourceFileName" type="string" size="256">
        <comment>The name of the source file</comment>
      </arg>
      <arg name="destFileName" type="string" size="256">
        <comment>The name of the destination file</comment>
      </arg>
    </args>
  </event>

  <event id="0x0B" name="RemoveFileSucceeded" severity="ACTIVITY_HI" format_string="Removed file %s successfully">
    <comment>The File System component deleted an existing file without error</comment>
    <args>
      <arg name="fileName" type="string" size="256">
        <comment>The name of the file</comment>
      </arg>
    </args>
  </event>

  <event id="0x0C" name="AppendFileStarted" severity="ACTIVITY_HI" format_string="Appending file %s to the end of %s...">
    <comment>The File System component appended 2 files without error</comment>
    <args>
      <arg name="source" type="string" size="256">
        <comment>The name of the file being read from</comment>
      </arg>
      <arg name="target" type="string" size="256">
        <comment>The name of the file to append to</comment>
      </arg>
    </args>
  </event>

  <event id="0x0D" name="ShellCommandStarted" severity="ACTIVITY_HI" format_string="Running shell command %s...">
    <comment>The File System component began executing a shell command</comment>
    <args>
      <arg name="command" type="string" size="256">
        <comment>The command string</comment>
      </arg>
    </args>
  </event>

  <event id="0x0E" name="CreateDirectoryStarted" severity="ACTIVITY_HI" format_string="Creating directory %s...">
    <comment>The File System component began creating a new directory</comment>
    <args>
      <arg name="dirName" type="string" size="256">
        <comment>The name of the directory</comment>
      </arg>
    </args>
  </event>

    <event id="0x0F" name="RemoveDirectoryStarted" severity="ACTIVITY_HI" format_string="Removing directory %s...">
    <comment>The File System component began deleting a directory</comment>
    <args>
      <arg name="dirName" type="string" size="256">
        <comment>The name of the directory</comment>
      </arg>
    </args>
  </event>

  <event id="0x10" name="MoveFileStarted" severity="ACTIVITY_HI" format_string="Moving file %s to file %s...">
    <comment>The File System component began moving a file to a new location</comment>
    <args>
      <arg name="sourceFileName" type="string" size="256">
        <comment>The name of the source file</comment>
      </arg>
      <arg name="destFileName" type="string" size="256">
        <comment>The name of the destination file</comment>
      </arg>
    </args>
  </event>

    <event id="0x11" name="RemoveFileStarted" severity="ACTIVITY_HI" format_string="Removing file %s...">
    <comment>The File System component began deleting an existing file</comment>
    <args>
      <arg name="fileName" type="string" size="256">
        <comment>The name of the file</comment>
      </arg>
    </args>
  </event>

</events>
