    <events>
        <event id="0" name="NoConnectionToServer" severity="WARNING_LO" format_string = "Unable to connect to the socket server on port %d" >
            <comment>
            The thread will try to re-connect until a connection is made
            </comment>
            <args>
                <arg name="PortNumber" type="U32">
                    <comment>The port number running the socket server</comment>
                </arg>          
            </args>
        </event>
        <event id="1" name="ConnectedToServer" severity="ACTIVITY_HI" format_string = "Connection made to the socket server on port %d" >
            <comment>
            The socket thread will continuously read until disconnected or terminated
            </comment>
            <args>
                <arg name="PortNumber" type="U32">
                    <comment>The port number running the socket server</comment>
                </arg>          
            </args>
        </event>
        <event id="2" name="LostConnectionToServer" severity="WARNING_LO" format_string = "Connection lost with socket server on port %d" >
            <comment>
            The socket thread will continuously try to reconnect to socket server if connection dropped by server
            </comment>
            <args>
                <arg name="PortNumber" type="U32">
                    <comment>The port number running the socket server</comment>
                </arg>          
            </args>
        </event>
	<event id="3" name="GNDIF_ReceiveError" severity="WARNING_HI" format_string = "Error %d on port_number %d" >
            <comment>
            Error in GndIf receiving packet
            </comment>
            <args>
	      <arg name="error" type="ENUM">
                <enum name="GNDIF_RECEIVE_ERROR">
                  <item name="GNDIF_PacketTooBig" comment="Packet received by GndIf bigger than max allowed"/>
                  <item name="GNDIF_PacketReadError" comment="Error reading rest of packet"/>
                  <item name="GNDIF_ReadSizeMismatch" comment="Packet size does not match included size"/>
                </enum>
                <comment>The error code</comment>
              </arg>
	      <arg name="PortNumber" type="U32">
                <comment>The port number running the socket server</comment>
              </arg>          
            </args>
        </event>
    </events>
