# This is a basic workflow to help you get started with Actions

name: CI

on:
  pull_request:
    branches: [main-msp, dev-msp]

jobs:
  # compiles the full codebase using clang tidy, which lints our code
  compile + lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # pip dependencies are cached and reloaded
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: install fprime tools
        run: pip3 install fprime-tools fprime-gds

      # clang-tidy compiler is cached and reloaded
      - name: cache clang-tidy-12
        uses: actions/cache@v2
        id: cache-clang-tidy-12
        with:
          path: "~/clang-tidy-12"
          key: "clang-tidy-12"
      - name: install clang-tidy-12
        env:
          CACHE_HIT: ${{steps.cache-clang-tidy-12.outputs.cache-hit}}
        run: |
          if [[ "$CACHE_HIT" == 'true' ]]; then
            sudo cp --verbose --force --recursive ~/clang-tidy-12/* /
          else
            sudo apt-get update
            sudo apt-get install --yes clang-tidy-12
            mkdir -p ~/clang-tidy-12
            sudo dpkg -L clang-tidy-12 | while IFS= read -r f; do if test -f $f; then echo $f; fi; done | xargs cp --parents --target-directory ~/clang-tidy-12/
          fi

      # fprime system specific files are cached and reloaded
      - name: cache fprime-util generate
        uses: actions/cache@v2
        id: cache-fprime-util-generate
        with:
          path: "~/fprime-util-generate"
          key: "fprime-util-generate"
      - name: run fprime-util generate
        env:
          CACHE_HIT: ${{steps.cache-fprime-util-generate.outputs.cache-hit}}
        run: |
          if [[ "$CACHE_HIT" == 'true' ]]; then
            sudo cp --verbose --force --recursive ~/fprime-util-generate/* $(pwd)/
            sudo chown -R $USER:$GROUP $(pwd)
          else
            fprime-util generate -DCMAKE_C_COMPILER=gcc-10 -DCMAKE_CXX_COMPILER=g++-10 -DCMAKE_CXX_CLANG_TIDY="clang-tidy-12;--config-file=$PWD/release.clang-tidy"
            mkdir -p ~/fprime-util-generate
            sudo cp --verbose --force --recursive $(pwd)/build-fprime-automatic-native/ ~/fprime-util-generate/
          fi

      # code is compiled with lint rules on
      - name: compile + lint
        run: fprime-util build --all --jobs "$(nproc || printf '%s\n' 1)"

  # compiles the full codebase, then runs unit tests
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      # pip dependencies are cached and reloaded
      - name: cache pip
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install fprime tools
        run: pip3 install fprime-tools fprime-gds

      # ccache caches and reloads c binary files between workflows to reduce
      # build time
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
      - name: set ccache path
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

      # fprime system specific files are cached and reloaded
      - name: cache fprime-util generate
        uses: actions/cache@v2
        id: cache-fprime-util-generate-Ref
        with:
          path: "~/fprime-util-generate-Ref"
          key: "fprime-util-generate-Ref"
      - name: run fprime-util generate
        env:
          CACHE_HIT: ${{steps.cache-fprime-util-generate-Ref.outputs.cache-hit}}
        run: |
          if [[ "$CACHE_HIT" == 'true' ]]; then
            sudo cp --verbose --force --recursive ~/fprime-util-generate-Ref/* $(pwd)/
            sudo chown -R $USER:$GROUP $(pwd)
          else
            fprime-util generate
            mkdir -p ~/fprime-util-generate-Ref
            sudo cp --verbose --force --recursive $(pwd)/build-fprime-automatic-native/ ~/fprime-util-generate-Ref/
          fi

      # fprime system specific test files are cached and reloaded
      - name: cache fprime-util generate --ut
        uses: actions/cache@v2
        id: cache-fprime-util-generate-ut-Ref
        with:
          path: "~/fprime-util-generate-ut-Ref"
          key: "fprime-util-generate-ut-Ref"
      - name: run fprime-util generate--ut
        env:
          CACHE_HIT: ${{steps.cache-fprime-util-generate-ut-Ref.outputs.cache-hit}}
        run: |
          if [[ "$CACHE_HIT" == 'true' ]]; then
            sudo cp --verbose --force --recursive ~/fprime-util-generate-ut-Ref/* $(pwd)/
            sudo chown -R $USER:$GROUP $(pwd)
          else
            fprime-util generate --ut
            mkdir -p ~/fprime-util-generate-ut-Ref
            sudo cp --verbose --force --recursive $(pwd)/build-fprime-automatic-native-ut/ ~/fprime-util-generate-ut-Ref/
          fi
        working-directory: Ref

      # all necessary files for unit testing are built
      - name: compile tests and source
        run: fprime-util build --all --ut --jobs "$(nproc || printf '%s\n' 1)"
        working-directory: Ref

      # unit tests are run
      - name: test
        run: fprime-util check --all
        working-directory: Ref

  #### RE-ENABLE: when integration tests are written
  # Integration:
  #   runs-on: ubuntu-latest
  #   steps:
  #   # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
  #   - uses: actions/checkout@v2
  #   - name: Install fprime tools
  #     run: pip3 install fprime-tools fprime-gds
  #   - name: Setup Dependencies
  #     run: sudo apt-get install valgrind
  #   - name: F prime CI step
  #     run: ./ci/tests/30-ints.bash
  #   # Archive the outputs
  #   - name: 'Archive Logs'
  #     uses: actions/upload-artifact@v2
  #     if: always()
  #     with:
  #       name: ci-int-logs
  #       path: ci-logs.tar.gz
  #       retention-days: 5

  #### RE-ENABLE: when merging new framework updates from nasa/fprime/master
  # Framework:
  #   runs-on: ubuntu-latest
  #   steps:
  #   # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
  #   - uses: actions/checkout@v2
  #   - uses: actions/cache@v2
  #     with:
  #       path: ~/.cache/pip
  #       key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
  #       restore-keys: |
  #         ${{ runner.os }}-pip-
  #   - name: Install fprime tools
  #     run: pip3 install fprime-tools fprime-gds
  #   - name: F prime CI step
  #     run: ./ci/tests/Framework.bash
  #   # Archive the outputs
  #   - name: 'Archive Logs'
  #     uses: actions/upload-artifact@v2
  #     if: always()
  #     with:
  #       name: ci-framework-logs
  #       path: ci-logs.tar.gz
  #       retention-days: 5
