# This job is to check that the requirements.txt file isn't giving
# any troubles to pip for any of the supported versions of Python

name: Python Dependency Check

on:
  push:
    paths:
      - 'requirements.txt'
  pull_request:
    paths:
      - 'requirements.txt'

jobs:
  pip-install:
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        runner: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
